<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.ec.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!--Vue tendra control abosluto de tpda esa seccion-->
    <div id="myApp">
        <header></header>
        <nav></nav>
        <section>

            <label for="idNombre">Nombre</label>
            <input v-model="nombre" id="idNombre" type="text">
            <label for="idApellido">Apellido</label>
            <!--<input v-model="apellido" id="idApellido" type="text">-->
            <!--<button v-on:click="agregar">Agregar</button>-->
            <input @keypress.enter="agregar2"  v-model="apellido"  type="text"  id="idApellido">
 
            <ul>

                <!--<li>{{lista[0].nombre}} A: {{lista[0].apellido}}</li>
                <br>
                <li> {{lista[1]}}</li>
                <br>
                <li> {{lista[2]}}</li>
                <br>
                <li> {{lista[3]}}</li>
                <br>
                <li> {{lista[4]}}</li>-->
                <li v-for="({nombre,apellido},index) in lista">
                    <!--Si quieroa cceder al objeto lo envuelvo {} y como segundo argumento pongo la palabra reservada index-->
                    <h3 v-show="nombre!==null" >{{index+1}}-{{nombre}}</h3>
                    <h4 v-show="apellido!==null" >{{apellido}}</h4>

                </li>
            </ul>
        </section>
        <footer></footer>
    </div>


    <script src="../js/app.js"></script>

</body>

</html>